.fm-media-breadcrumb {
    flex-grow: 1
}

.fm-media-breadcrumb ul {
    margin: 0;
    padding: 0
}

.fm-media-breadcrumb .breadcrumb {
    background-color: transparent;
    margin-bottom: 0
}

.fm-media-breadcrumb .breadcrumb li:last-child:not(:first-child) a {
    --bb-text-opacity: 1;
    color: rgba(var(--bb-muted-rgb), var(--bb-text-opacity)) !important;
    display: flex;
    gap: 6px;
}
.breadcrumb li{
    display: flex;
}
.fm-media-breadcrumb .breadcrumb>li+li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px
}

.fm-media-block {
    padding: 15px
}

.fm-media-block .fm-media-block-title {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase
}

.fm-media-container .progress {
    box-shadow: none;
    height: 10px;
    margin: 0
}

.fm-media-container .progress-bar-warning {
    background-color: #f7ca18
}

.fm-media-container .progress-bardanger {
    background-color: #f24d23
}

.fm-media-container .progress-bar-success {
    background-color: #003d4f
}

.fm-media-container .progress-bar-info {
    background-color: #dbdbdb
}

.fm-media-container .custom-checkbox {
    position: relative
}

.fm-media-container .custom-checkbox label {
    cursor: pointer;
    display: block;
    margin: 0
}

.fm-media-container .custom-checkbox input {
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0
}

.fm-media-container .custom-checkbox span {
    border: solid 1px #ddd;
    border-radius: var(--bb-border-radius);
    box-shadow: var(--bb-box-shadow-input);
    display: block;
    height: 20px;
    position: relative;
    width: 20px
}

.fm-media-container .custom-checkbox span:before {
    color: var(--bb-white);
    content: "";
    font-family: Font Awesome\ 6 Free;
    font-size: 0;
    font-weight: 600;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out
}

.fm-media-container .custom-checkbox input:checked+span {
    background-color: var(--primary-600);
    border-color: var(--primary-600);
}

.fm-media-container .custom-checkbox input:checked+span:before {
    font-size: 13px
}

.fm-media-thumbnail {
    overflow: hidden;
    position: relative;
    width: 100%
}

.fm-media-thumbnail:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%
}

.fm-media-thumbnail svg {
    font-size: 30px
}

.fm-media-thumbnail img,
.fm-media-thumbnail svg {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

.fm-media-thumbnail img {
    max-height: 100%
}

.fm-upload-progress {
    box-shadow: 0 0 4px rgba(58, 85, 113, .3);
    transition: all .3s linear;
    width: 600px;
    z-index: 9999
}

.fm-upload-progress.hide-the-pane {
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateX(100%)
}

.fm-upload-progress .close-pane {
    margin-top: -12px;
    right: 12px;
    transition: all .3s ease-in-out
}

.fm-upload-progress .close-pane:hover {
    filter: alpha(opacity=80);
    opacity: .8
}

.fm-upload-progress .close-pane svg {
    margin: 0
}

.fm-media-wrapper .btn.collapse-panel i {
    transition: all .3s ease-in-out
}

.fm-media-header .fm-media-top-header .fm-media-search {
    width: 100%
}

@media(min-width:768px) {
    .fm-media-header .fm-media-top-header .fm-media-search {
        width: auto
    }
}

.fm-media-footer {
    border-top: var(--bb-border-width) var(--bb-border-style) var(--bb-border-color);
    padding: 10px;
    text-align: right
}

#filament_media_body {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 8rem);
    min-height: 500px
}

.navbar .dropdown-menu-right {
    left: auto;
    right: 0
}

.fm-media-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 13px;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    width: 100%
}

.fm-media-container .form-add-folder .input-group-text {
    padding: 0
}


.fm-media-container .fm-media-wrapper .fm-media-aside,
.fm-media-container .fm-media-wrapper .fm-media-main-wrapper {
    align-items: stretch
}

.fm-media-container .fm-media-wrapper .fm-media-main-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.fm-media-container .fm-media-wrapper .fm-media-main-wrapper .fm-media-main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #000;
    color: #fff;
}

.fm-media-container .fm-media-wrapper .fm-media-main-wrapper .fm-dropdown-actions .dropdown-toggle:after {
    display: none
}

.fm-media-container .fm-media-wrapper .fm-media-main-wrapper .fm-dropdown-actions .dropdown-menu {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto
}

@media(max-height:600px) {
    .fm-media-container .fm-media-wrapper .fm-media-main-wrapper .fm-dropdown-actions .dropdown-menu {
        max-height: 200px
    }
}

@media(max-height:400px) {
    .fm-media-container .fm-media-wrapper .fm-media-main-wrapper .fm-dropdown-actions .dropdown-menu {
        max-height: 150px
    }
}

.fm-media-container .fm-media-details,
.fm-media-container .fm-media-items {
    align-items: stretch;
    display: flex;
    overflow: auto;
    position: relative
}

.fm-media-container .fm-media-items {
    flex-direction: column;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.fm-media-container .fm-media-items .fm-media-item {
    overflow: hidden;
    border-radius: 5px;
    background: #16181c;
}

.fm-media-container .fm-media-details {
    border-left: solid 2px #16181c;
    flex-direction: column;
    min-width: 250px;
    transition: all .3s ease-in-out;
    width: 250px;
    border-bottom: solid 2px #16181c;
    overflow-x: hidden;
}

.fm-media-container .fm-media-details .fm-media-description,
.fm-media-container .fm-media-details .fm-media-thumbnail {
    min-width: 250px;
    width: 250px
}

.fm-media-container .fm-media-details .fm-media-thumbnail {
    border-bottom: var(--bb-border-width) var(--bb-border-style) var(--bb-border-color);
    overflow: visible
}

.fm-media-container .fm-media-details .fm-media-thumbnail svg {
    height: 6rem;
    width: 6rem
}

.fm-media-container .fm-media-details .fm-media-thumbnail img {
    max-width: 90%
}

.fm-media-container .fm-media-details .fm-media-description {
    padding: 10px;
    position: relative
}

.fm-media-container .fm-media-details .fm-media-description .fm-media-name>p {
    font-weight: 700;
    margin: 0
}

.fm-media-container .fm-media-details .fm-media-description .fm-media-name+.fm-media-name {
    margin-top: 5px
}

.fm-media-container #media_details_collapse:checked~.fm-media-main-wrapper .fm-media-details {
    border: 0;
    min-width: 0;
    width: 0
}

.fm-media-container #media_details_collapse:checked~.fm-media-main-wrapper .fm-media-tools .collapse-panel svg {
    transform: rotate(-180deg)
}

@media(max-width:1365px) {

    .fm-media-container .fm-media-details,
    .fm-media-container .fm-media-details .fm-media-description,
    .fm-media-container .fm-media-details .fm-media-thumbnail {
        min-width: 220px;
        width: 220px
    }
}

@media(max-width:991px) {
    .fm-media-container .fm-media-wrapper .fm-media-main-wrapper {
        width: 100%
    }

    .fm-media-container .fm-media-details {
        display: none !important
    }
}

.media-download-popup {
    bottom: 0;
    position: absolute;
    right: 24px
}

.context-menu-item{
    display: flex;
    gap: 7px;
    padding: 5px 10px !important;
}

li.context-menu-item.context-menu-icon-updated.media-action-trash {
    color: rgba(var(--bb-danger-rgb), 1) !important
}

.fm-media-list {
    border-bottom: var(--bb-border-width) var(--bb-border-style) var(--bb-border-color)
}

.fm-media-list ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.fm-media-list .fm-media-list-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 15px 10px
}

.fm-media-list .fm-media-list-title .custom-checkbox {
    min-width: 35px;
    width: 35px
}

.fm-media-list .fm-media-list-title .fm-media-file-name {
    flex-grow: 1;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fm-media-list .fm-media-list-title .fm-media-file-name i {
    margin-right: 5px;
    margin-inline-start: 5px
}

.fm-media-list .fm-media-list-title .fm-media-file-name i:before {
    display: inline-block;
    font-size: 18px
}

.fm-media-list .fm-media-list-title .fm-media-file-name img {
    margin-inline-start: 5px;
    max-width: 40px
}

.fm-media-list .fm-media-list-title .fm-media-file-size {
    min-width: 120px;
    width: 120px
}

.fm-media-list .fm-media-list-title .fm-media-created-at {
    min-width: 150px;
    width: 150px
}


.fm-media-grid {
    padding-top: 10px;
    padding-right: 10px;
}

.fm-media-grid ul {
    margin: 0 -5px;
    padding: 0
}

.fm-media-grid ul:after,
.fm-media-grid ul:before {
    clear: both;
    content: "";
    display: table
}

.fm-media-grid li {
    display: block;
    float: left;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 12.5%
}

.fm-media-grid li .fm-media-item {
    cursor: pointer;
    position: relative;
    transition: all .1s ease-in-out;
    background: #16181c;
}

.fm-media-grid li .fm-media-item:after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.fm-media-grid li .fm-media-item .media-item-selected {
    background: #007bff;
    border-radius: 50% !important;
    display: none;
    height: 24px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 24px;
    z-index: 20
}

.fm-media-grid li .fm-media-item .media-item-selected svg {
    fill: #fff;
    margin-top: 3px;
    width: 18px
}

.fm-media-grid li .fm-media-thumbnail {
    border-bottom: 0
}

.fm-media-grid li .fm-media-thumbnail img {
    height: 100%;
    left: 50%;
    max-width: none;
    top: 0;
    transform: translateX(-50%);
    width: auto
}

.fm-media-grid li .fm-media-description {
    border-top: 1px #000 solid;
    padding: 8px 10px;
    text-align: center;
    transition: all .1s ease-in-out
}

.fm-media-grid li .fm-media-description .title {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 18px;
}

.fm-media-grid li .fm-media-description .size {
    font-size: 12px;
    margin-top: 10px
}

.fm-media-grid li input[type=checkbox]:checked+.fm-media-item .media-item-selected {
    display: block
}

.fm-media-grid li input[type=checkbox]:checked+.fm-media-item:after {
    background: rgba(var(--primary-600-rgb), .04);
    border: var(--bb-border-width) var(--bb-border-style) var(--primary-600);
    transition: border-color .3s, background .3s, color .3s
}

.fm-media-grid li input[type=checkbox]:checked+.fm-media-item .fm-media-description {
    background-color: #007bff;
    color: #fff
}

.fm-media-grid-small-thumbnail li {
    width: 33.3333333333%
}

.fm-media-grid-small-thumbnail li .fm-media-item {
    display: flex;
    flex-direction: row
}

.fm-media-grid-small-thumbnail li .fm-media-thumbnail {
    border: 0;
    left: 0;
    min-width: 100px;
    top: 0;
    width: 100px
}

.fm-media-grid-small-thumbnail li .fm-media-description {
    flex-grow: 1
}

.fm-media-grid:not(.fm-media-grid-small-thumbnail) .fm-media-thumbnail {
    text-align: center
}

.fm-media-grid:not(.fm-media-grid-small-thumbnail) .fm-media-thumbnail svg {
    height: 3rem;
    width: 3rem
}

.fm-media-items li.no-items {
    align-items: center;
    border: 0;
    border-radius: 0;
    color: #94a7b1;
    display: inline-block;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    height: auto;
    justify-content: center;
    left: 50%;
    margin: 0 !important;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: auto
}

.fm-media-items li.no-items .icon {
    --bb-icon-size: 4rem;
    margin-bottom: 1rem
}

.fm-media-items li.no-items h3 {
    font-size: 14px;
    margin-bottom: .25rem
}

.on-loading .fm-media-items li.no-items,
.fm-media-container[data-breadcrumb-count="0"] .fm-media-items li.up-one-level,
.fm-media-container[data-breadcrumb-count="1"] .fm-media-items li.up-one-level,
.fm-media-items.has-items .no-items {
    display: none !important
}

.fm-media-main .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.fm-media-items li.up-one-level {
    display: none
}

@media(min-width:768px) {
    .fm-media-items li.up-one-level {
        display: block
    }
}

.fm-media-container:not([data-view-in=all_media]) .fm-media-items li.no-items {
    pointer-events: none
}

.fm-media-container[data-view-in=all_media] .fm-media-items li.no-items {
    background-color: #fff;
    border: 1px solid #dce6f1;
    border-radius: 50% !important;
    cursor: pointer;
    height: 200px;
    width: 200px
}

@media(min-width:992px) {
    .fm-media-container[data-view-in=all_media] .fm-media-items li.no-items {
        height: 400px;
        width: 400px
    }
}

@media(min-width:768px) {
    .fm-media-items li.no-items .icon {
        --bb-icon-size: 8rem
    }

    .fm-media-items li.no-items h3 {
        font-size: 17px
    }
}

@media(max-width:1365px) {
    .fm-media-grid li {
        width: 16.6666666667%
    }
}

@media(max-width:991px) {
    .fm-media-grid li {
        width: 33.3333333333%
    }
}

.context-menu-list {
    z-index: 21 !important
}

.fm-media-breadcrumb .breadcrumb li:first-child:before {
    display: none !important
}

.fm-media-container {
    height: calc(100vh - 16rem)
}

.fm-media-container .js-fm-media-filter-current .icon {
    margin-inline-end: 2px
}

.fm-media-container .js-fm-media-filter-current .dropdown-item-icon {
    color: unset;
    margin-right: unset;
    opacity: unset
}

@media(max-width:991px) {
    .fm-media-container .fm-media-aside {
        z-index: 10000
    }
}

.fm-media-integrate-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%
}

.fm-media-modal .modal-open .context-menu-root {
    z-index: 99994 !important
}

.avatar-body {
    padding-left: 15px;
    padding-right: 15px
}

.avatar-upload {
    overflow: hidden
}

.avatar-upload label {
    clear: left;
    display: block;
    float: left;
    width: 100px
}

.avatar-upload input {
    display: block;
    margin-left: 110px
}

.avater-alert {
    margin-bottom: 10px;
    margin-top: 10px
}

.avatar-wrapper {
    background-color: #fcfcfc;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    height: 364px;
    margin-top: 15px;
    overflow: hidden;
    width: 100%
}

.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%
}

.avatar-preview {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden
}

.avatar-preview:hover {
    border-color: #ccf;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15)
}

.avatar-preview img {
    width: 100%
}

.preview-lg {
    height: 184px;
    margin-top: 15px;
    width: 184px
}

.preview-md {
    height: 100px;
    width: 100px
}

.preview-sm {
    height: 50px;
    width: 50px
}

@media(min-width:992px) {
    .avatar-preview {
        float: none
    }
}
